<section class="m-5">
  <header class="flex align-items-center p-1">
    <button
      class="flex justify-content-center w-3rem h-3rem border-3 bg-primary-reverse"
      text-secondary
      pButton
      pRipple
      (click)="navigateToHome()"
    >
      <i class="flex-1 text-5xl material-icons">arrow_back</i>
    </button>

    <h1 class="mr-6 w-full text-center">Perfil</h1>
  </header>
  <main>
    <div *ngIf="profilePictureURL; else avatarIcon">
      <img
        class="mb-3 mx-auto border-circle border-2 border-black w-6rem h-6rem"
        src="{{ profilePictureURL }}"
        style="object-fit: cover"
        alt=""
      />
    </div>
    <ng-template #avatarIcon>
      <div>
        <span class="mb-3 w-full text-center text-primary text-9xl material-icons"> account_circle </span>
      </div>
    </ng-template>

    <p-fileUpload
      #fileUpload
      class="h-3rem line-height-1 text-center"
      mode="basic"
      name="demo[]"
      accept="image/*"
      chooseLabel="Mudar foto"
      [auto]="true"
      [customUpload]="true"
      (uploadHandler)="onUploadProfilePicture($event, fileUpload)"
    ></p-fileUpload>

    <form class="mt-6" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <div class="flex flex-column">
        <label class="flex-1 p-2 font-bold text-2xl" htmlFor="name">Nome:</label>
        <input class="h-3rem border-2 border-black" placeholder="Digite o seu nome aqui" type="text" formControlName="name" pInputText />
      </div>
      <div class="mt-4 flex flex-column w-full">
        <label class="flex-1 p-2 font-bold text-2xl" htmlFor="birthDate">Data de Nascimento:</label>
        <p-calendar
          class="h-3rem border-black"
          formControlName="birthDate"
          dateFormat="dd/mm/yy"
          placeholder="Escolha sua data aqui"
          [inputStyleClass]="'border-black'"
          [showIcon]="true"
          [touchUI]="true"
          [readonlyInput]="true"
        ></p-calendar>
      </div>
      <div class="bottom-button flex justify-content-center align-items-end">
        <button class="p-0 w-10rem h-3rem" label="Salvar" type="submit" pButton pRipple></button>
      </div>
    </form>
  </main>
</section>
