<section class="m-5">
  <header class="flex align-items-center p-1">
    <button
      class="flex justify-content-center w-3rem h-3rem border-3 bg-primary-reverse"
      text-secondary
      pButton
      pRipple
      (click)="navigateToHome()"
    >
      <i class="flex-1 text-5xl material-icons">arrow_back</i>
    </button>

    <h1 class="mr-6 w-full text-center">Perfil</h1>
  </header>
  <main>
    <div *ngIf="profilePictureURL || showUploadLoading; else avatarIcon">
      <img
        *ngIf="!showUploadLoading"
        class="mb-5 mx-auto border-circle border-2 border-black w-7rem h-7rem"
        src="{{ profilePictureURL }}"
        style="object-fit: cover"
        alt=""
      />
      <img
        *ngIf="showUploadLoading"
        class="mb-5 mx-auto border-circle border-2 border-black w-7rem h-7rem"
        src="/assets/gif/loading.gif"
        style="object-fit: cover"
        alt=""
      />
    </div>
    <ng-template #avatarIcon>
      <div>
        <span class="mb-3 w-full text-center text-primary text-9xl material-icons"> account_circle </span>
      </div>
    </ng-template>

    <p-fileUpload
      #fileUpload
      class="h-3rem line-height-1 text-center"
      mode="basic"
      name="demo[]"
      accept="image/*"
      chooseLabel="Mudar foto"
      [auto]="true"
      [customUpload]="true"
      (uploadHandler)="onUploadProfilePicture($event, fileUpload)"
    ></p-fileUpload>

    <p-dialog [(visible)]="showDialog" [showHeader]="false" [modal]="true" [closable]="false" [style]="{ width: '60vw' }">
      <div class="flex flex-column justify-content-center">
        <img class="pt-5 px-5 w-full text-center" src="/assets/gif/saved.gif" alt="animação de checar" />
        <p class="mt-4 text-center font-bold text-3xl">Perfil salvo!</p>
      </div>
    </p-dialog>

    <form class="mt-5" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <div class="flex flex-column">
        <label class="flex-1 p-2 font-bold text-2xl" htmlFor="name">Primeiro nome</label>
        <input class="h-3rem border-2 border-black" placeholder="Insira seu nome aqui" type="text" formControlName="name" pInputText />
        <div [ngStyle]="{ visibility: name!.invalid && (name!.dirty || name!.touched) ? 'visible' : 'hidden' }" class="alert alert-danger">
          <p [ngStyle]="{ visibility: name!.errors?.['maxlength'] ? 'visible' : 'hidden' }" class="px-3 font-bold text-lg text-red-500">
            Primeiro nome deve ter no máximo 12 letras.
          </p>
        </div>
      </div>

      <div class="flex flex-column w-full">
        <label class="flex-1 p-2 font-bold text-2xl" htmlFor="birthDate">Data de nascimento</label>
        <p-inputMask
          class="inputMask"
          formControlName="birthDate"
          mask="99/99/9999"
          placeholder="Insira sua data aqui"
          type="tel"
        ></p-inputMask>
        <div
          [ngStyle]="{ visibility: birthDate!.invalid && (birthDate!.dirty || birthDate!.touched) ? 'visible' : 'hidden' }"
          class="alert alert-danger"
        >
          <p [ngStyle]="{ visibility: birthDate!.errors ? 'visible' : 'hidden' }" class="px-3 font-bold text-lg text-red-500">
            Data de nascimento inválida ex.: 31/12/1960
          </p>
        </div>
      </div>

      <div class="bottom-button mt-7 flex justify-content-center align-items-end">
        <button
          class="p-0 w-10rem h-3rem"
          [disabled]="name!.invalid || birthDate!.invalid"
          label="Salvar"
          type="submit"
          pButton
          pRipple
        ></button>
      </div>
    </form>
  </main>
</section>
