:host ::ng-deep .border-black .p-calendar .p-inputtext {
  border-width: 2px;
  border-style: solid;
  border-color: var(--text-primary);
}

:host ::ng-deep .border-black .p-calendar {
  height: 3rem;
  width: 100%;
}

:host ::ng-deep .border-black .p-calendar .p-button-icon-only {
  padding: 0rem;
  width: 4rem;
}

:host ::ng-deep .border-black .p-calendar .p-button-icon-only .p-icon {
  width: 2rem;
  height: 2rem;
}

.bottom-button {
  height: calc(100vh - 39.125rem);
}
