section {
  margin: 32px;
}

.profile-icon {
  font-size: 96px;
  width: 96px;
  height: 96px;

  color: #33277e;
}

.profile-message {
  font-size: 24px;
}

.search {
  margin-top: 128px;
  border-radius: 28px !important;
}

.search-bar {
  width: -webkit-fill-available;
}

.search-input {
  border: solid;
  border-color: #262626;
  border-width: 2px;
  font-size: 20px !important;
  border-radius: 20px;
}

.search-icon {
  font-size: 40px;
  width: 40px;
  height: 40px;
  color: #33277e;
}

.row {
  display: flex;
}

.button {
  flex: 50%;
  font-size: 20px;
  height: 48px !important;
  border-radius: 28px;
  border: solid;
  border-color: #262626;
  border-width: 1px;
  background-color: #33277e !important;
}

.button:first-child {
  margin-right: 16px;
}

.button:last-child {
  margin-left: 16px;
  display: flex;
}

.voice-icon {
  font-size: 40px !important;
  width: 40px !important;
  height: 40px !important;
  color: #fdfdfd;
}
