<section>
  <div class="profile">
    <span class="material-icons profile-icon"> account_circle </span>
    <p class="profile-message">Olá {{ name }}!</p>
  </div>

  <div class="search-bar">
    <span class="p-input-icon-left search">
      <i class="search-icon pi material-icons">search</i>
      <input
        class="search-input"
        placeholder="O que deseja aprender?"
        type="text"
        pInputText
        [(ngModel)]="value"
      />
    </span>

    <div class="row">
      <button pButton class="button" styleClass="p-button-rounded button">
        <p class="white-text">Pesquisar</p>
      </button>
      <button
        pButton
        class="button"
        styleClass="p-button-rounded button"
        icon="pi pi-times"
      >
        <i class="voice-icon pi material-icons">mic</i>
        <p class="white-text">Voz</p>
      </button>
    </div>
  </div>
</section>
