<section>
  <div class="profile">
    <mat-icon class="profile-icon">account_circle</mat-icon>
    <p class="profile-message">Olá {{ name }}!</p>
  </div>

  <div class="search">
    <mat-form-field class="search-bar" appearance="outline">
      <input
        matInput
        class="search-input"
        placeholder="O que deseja aprender?"
      />
      <mat-icon matPrefix class="search-icon">search</mat-icon>
    </mat-form-field>
    <div class="row">
      <button class="button" mat-raised-button>
        <p class="white-text">Pesquisar</p>
      </button>

      <button class="button" mat-raised-button>
        <mat-icon class="voice-icon">mic</mat-icon>
        <p class="white-text voice-text">Voz</p>
      </button>
    </div>
  </div>
</section>
