<section class="m-5">
  <header class="pb-7">
    <span class="text-primary text-8xl material-icons" (click)="navigateToProfile()" pRipple>account_circle</span>
    <p class="my-2 w-max font-bold text-2xl" (click)="navigateToProfile()">Olá{{ name }}!</p>
  </header>

  <main class="pt-7">
    <span class="flex align-itens-center mb-5 w-full p-input-icon-left">
      <i class="-ml-1 -mt-3 text-primary text-5xl material-icons">search</i>
      <input
        class="pl-6 w-full h-3rem border-solid border-2 border-black"
        placeholder="O que deseja aprender?"
        type="text"
        pInputText
        [(ngModel)]="query"
        (keydown.enter)="searchResults()"
      />
    </span>
    <div class="flex gap-5">
      <button class="flex-1 p-0 h-3rem" pButton pRipple (click)="searchResults()">
        <p class="w-full font-bold text-center">Pesquisar</p>
      </button>

      <button class="flex-1 p-0 h-3rem" pButton pRipple>
        <i class="pl-1 text-5xl material-icons">mic</i>
        <p class="pr-5 w-full font-bold text-center">Voz</p>
      </button>
    </div>
  </main>
</section>
