<section class="m-5">
  <header class="flex pb-3" (click)="navigateToProfile()">
    <div class="border-circle w-6rem h-6rem" *ngIf="profilePictureURL; else avatarIcon" (click)="navigateToProfile()" pRipple>
      <img
        class="mb-3 border-circle border-2 border-black w-6rem h-6rem"
        src="{{ profilePictureURL }}"
        style="object-fit: cover"
        alt="Foto do perfil do usuário"
      />
    </div>
    <ng-template #avatarIcon>
      <div class="border-circle w-6rem h-6rem" pRipple>
        <span class="text-primary text-8xl material-icons">account_circle</span>
      </div>
    </ng-template>
    <div class="mx-2 w-max">
      <p class="mb-2 w-max font-bold text-4xl">Perfil</p>
      <div *ngIf="name; else welcomeMessage">
        <p class="mt-2 w-max font-bold text-2xl">Olá, {{ name }}</p>
      </div>
      <ng-template #welcomeMessage>
        <p class="mt-2 w-max font-bold text-2xl">Olá, seja bem vindo</p>
      </ng-template>
    </div>
  </header>
  <hr />

  <main class="pt-8">
    <div class="pt-8">
      <div class="pt-8">
        <span class="flex align-itens-center mb-5 w-full p-input-icon-left">
          <i class="-ml-1 -mt-3 text-primary text-5xl material-icons">search</i>
          <input
            class="pl-6 w-full h-3rem border-solid border-2 border-black"
            placeholder="O que deseja aprender?"
            type="text"
            pInputText
            name="query"
            [(ngModel)]="query"
            (keydown.enter)="searchResults()"
          />
        </span>
      </div>

      <div class="flex gap-5" *ngIf="!isUserSpeaking; else voiceStopButton">
        <button class="flex-1 p-0 h-3rem" pButton pRipple (click)="searchResults()">
          <p class="w-full font-bold text-center">Pesquisar</p>
        </button>

        <button class="flex-1 p-0 h-3rem" pButton pRipple (click)="startRecording()">
          <i class="pl-1 text-5xl material-icons">mic</i>
          <p class="pr-5 w-full font-bold text-center">Voz</p>
        </button>
      </div>

      <ng-template #voiceStopButton>
        <div class="flex flex-column align-items-center">
          <button class="p-0 w-8rem h-8rem border-3 border-circle bg-primary-reverse" pButton pRipple (click)="stopRecording()">
            <img class="listening-gif p-4 w-full text-center" src="/assets/gif/listening.gif" alt="animação de ouvindo" />
          </button>

          <p class="py-5 w-full font-bold text-2xl text-center">Ouvindo ...</p>

          <button class="p-0 w-10rem h-4rem border-3 border-round bg-primary" pButton pRipple (click)="abortRecording()">
            <p class="w-full font-bold text-center">Cancelar</p>
          </button>
        </div>
      </ng-template>
    </div>
  </main>
</section>
